<div th:fragment="header">
    <header class="bg-blue-600 text-white py-4">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-xl font-bold">Les objets sont nos amis</h1>
            <nav>
                <ul class="flex space-x-4">
                    <li><a href="/" class="hover:underline">Accueil</a></li>
                    <li><a href="/login" class="hover:underline">S'inscrire - Se connecter</a></li>
                    <li><a href="/sell" class="hover:underline">Vendre un article</a></li>
                    <li><a href="/profile" class="hover:underline">Mon profile</a></li>
                </ul>
            </nav>
        </div>
    </header>
</div>
