<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les objets sont nos amis</title>
    <link href="/css/output.css" rel="stylesheet">
    <link href="/css/tailwind.css" rel="stylesheet">
    <link href="/css/uikit.min.css" rel="stylesheet" />
    <script src="/js/uikit-icons.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <script src="/js/home.js"></script>
</head>
<body>
    <div class="mx-auto bg-white p-6 rounded">
        <form action="/articles/search-encheres">
            <div>Filtres :</div>
            <!-- Barre de recherche -->
            <div class="flex items-center" style="width: 32rem">
                <input id="nameFilter"
                       type="text"
                       name="nameFilter"
                       placeholder="Le nom de l'article contient"
                       class="border rounded px-4 py-2"
                       style="width: 15rem"
                       th:value="${nameFilter}" />
                <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                    Rechercher
                </button>
            </div>
            <div class="flex items-center">
                <label for="categoryFilter">Catégorie :
                    <select id="categoryFilter"
                            name="categoryFilter"
                            class="border rounded px-4 py-2">
                        <option value="0">Toutes</option>
                        <option th:each="cat : ${categories}" th:value="${cat.getNo_categorie()}" th:text="${cat.getLibelle()}" th:selected="${selectedCategory == cat.getNo_categorie()}"></option>
                    </select>
                </label>
                <button type="button" onclick="resetFilters()" class="bg-gray-300 text-black px-4 py-2 rounded hover:bg-gray-400">
                    Annuler
                </button>
            </div>
            <div th:if="false">
                <div class="flex items-center space-x-2">
                    <label>
                        <input type="radio" name="filterType" value="achats" class="mr-2" th:checked="${filterType == 'achats'}">
                        Achats
                    </label>
                    <select
                            class="border rounded px-4 py-2"
                            th:disabled="${filterType != 'achats'}">
                        <option value="open">Enchères ouvertes</option>
                        <option value="in_progress">Mes enchères en cours</option>
                        <option value="won">Mes enchères remportées</option>
                    </select>
                </div>

                <div class="flex items-center space-x-2">
                    <label>
                        <input type="radio" name="filterType" value="ventes" class="mr-2" th:checked="${filterType == 'ventes'}">
                        Mes ventes
                    </label>
                    <select
                            class="border rounded px-4 py-2"
                            th:disabled="${filterType != 'ventes'}">
                        <option value="current">Mes ventes en cours</option>
                        <option value="upcoming">Mes ventes non débutées</option>
                        <option value="finished">Mes ventes terminées</option>
                    </select>
                </div>
            </div>
        </form>

        <!-- Liste des enchères -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="bg-white border rounded p-4 shadow" th:each="article : ${articles}">
                <div class="h-32 bg-gray-200 rounded mb-4"></div>
                <a href="/details/${item.id}"
                   class="text-blue-600 text-lg font-bold hover:underline"
                   th:text="${article.nom_article}">{{ article.nom_article }}</a>
                <p class="mt-2">
                    Prix : <span th:text="${article.prix_initial}"></span> point(s)
                </p>
                <p>Fin de l'enchère : <span th:text="${article.date_fin_encheres}"></span></p>
                <p>
                    Vendeur :
                    <a href="/profile/${item.seller.id}"
                       class="text-blue-500 hover:underline"
                       th:text="${article.id_utilisateur}"></a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>