<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>


<main>
    <form th:action="@{/login}" method="POST">
        <h1>Connexion</h1>
        <div th:if="${param.error}">Erreur : login ou mot de passe incorrect</div>
        <!--        <div th:if="${param.logout}">Vous êtes déconnecté</div>-->
        <div class="flex-outer">
            <div>
                <label for="inputUsername">Pseudo</label>
                <input id="inputUsername" type="text" name="username"/>
            </div>
            <div>
                <label for="inputPassword">Mot de passe</label>
                <input id="inputPassword" type="password" name="password"/>
            </div>

            <div>
                <button type="submit">Enregistrer</button>
            </div>
        </div>

    </form>

</main>

</body>
</html>