<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Demo Spring Web</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/general.css}"/>
    <link rel="stylesheet" th:href="@{/css/tp-form.css}"/>
    <link rel="stylesheet" data-th-href="@{/css/tp-error.css}"/>
    <link rel="icon" th:href="@{/images/logoENI.png}"/>
</head>
<body>


<main>
    <form th:action="@{/login}" method="POST">
        <h1>Connexion</h1>
        <div th:if="${param.error}">Erreur : login ou mot de passe incorrect</div>
        <!--        <div th:if="${param.logout}">Vous êtes déconnecté</div>-->
        <ul class="flex-outer">
            <li>
                <label for="inputUsername">Pseudo</label>
                <input id="inputUsername" type="text" name="username"/>
            </li>
            <li>
                <label for="inputPassword">Mot de passe</label>
                <input id="inputPassword" type="password" name="password"/>
            </li>

            <li>
                <button type="submit">Enregistrer</button>
            </li>
        </ul>

    </form>

</main>

</body>
</html>